SELECT MAX([ID]) AS LastId, MAX([Status]) AS LastStatus FROM [Test] WHERE [UserId] = 85 GROUP BY [UserId]

SELECT TOP 1 LAST_VALUE([Id]) OVER (PARTITION BY [UserId] ORDER BY [Id] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS LastId,  
       LAST_VALUE([Status]) OVER (PARTITION BY [UserId] ORDER BY [Status] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS LastStatus
FROM [Test] WHERE [UserId] = 85